:root {
    --biege: #C7BEA2;
    --light-biege: #E5DCC3;
    --grey: #9A9483;
    --light-grey: #AAA492;
    --black: #000000;

    --container-width: 1200px;
    --container-width-sm: 600px; 
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--light-biege);
}
a {
    color: var(--black)
}
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-group .control-input {
    height: 30px;
    display: block;
    width: calc(100% - 10px);
    padding: 5px;
    border: 1px solid var(--biege);
}
.form-group select.control-input {
    height: 42px;
    width: 100%;
}
.form-group textarea.control-input {
    height: auto;
}

.form-group .control-input:focus-visible {
    outline: none;
}

.btn {
    padding: 10px 20px;
    border: 2px solid var(--black);
    color: var(--black);
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
}

.btn--1 {
    padding: 5px 10px;
    color: var(--black);
    background-color: var(--biege);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.btn--1:hover {
    opacity: 0.9;
    text-decoration: underline;
}
label {
    font-weight: 300;
}
label .label-heading {
    font-weight: 400;
}

.btn--2 {
    color: var(--black);
    background-color: var(--biege);
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border: none;
}

.btn--2.sm {
    padding: 3px 5px;
}

.btn--2.md {
    padding: 5px 10px;
}

.btn--2.lg {
    padding: 10px 20px;
}

.btn--2:hover {
    opacity: 0.9;
    text-decoration: underline;
}

.card--1 {
    width: 300px;
    padding: 20px;
    margin: 40px auto 0 auto;
    background-color: var(--biege);
}


.admin-card--1 {
    border: 1px solid var(--light-grey);
    color: var(--black);
}

.admin-card--1.small {
    width: calc(var(--container-width) / 4);
}
.admin-card--1.medium {
    width: calc(var(--container-width) / 3);
}
.admin-card--1.large {
    width: calc(var(--container-width) / 2);
}

    .admin-card--1 .admin-card--1-heading,
    .admin-card--1 .admin-card--1-content,
    .admin-card--1 .admin-card--1-footer {
        padding: 10px;
    }

    .admin-card--1 .admin-card--1-heading {
        font-weight: 400;
    }


.heading-section {
    margin-bottom: 40px;
}
    .heading-section .heading {
        font-weight: 300;
        margin-top:0;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .heading-section .sub-heading {
        font-weight: 300;
        margin-top:0;
        margin-bottom: 0;
        font-size: 16px;
    }
.container {
    width: var(--container-width);
    margin: 0 auto;
}

.table-section {
    width: calc(var(--container-width) / 1);
}

.table-section .table-section--heading {
    margin-bottom: 20px;
}
.table {
    border-bottom: 1px solid var(--biege);
    border-spacing: 0;
    width: 100%;
}

    .table tr td {
        border: 1px solid var(--biege);
        padding: 4px 8px;
    }
#admin-header {
    height: 60px;
    width: 100%;
    background-color: var(--grey);
}
#admin-header .header-content {
    padding: 10px;
}

#admin-header .header-content::after {
    content: " ";
    display: block;
    clear: both;
}
    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
        width: 200px;
    }

    .menu-right {
        list-style: none;
        margin: 0;
        padding: 0;
        float: right;
        width: 100px;
    }

    .menu li {
        float: left;
        position: relative;
    }
        .menu li a, .menu-right li a {
            display: inline-block;
            height: 40px;
            line-height: 40px;
            text-decoration: none;
            text-align: center;
            width: 100px;
            background-color: var(--biege);
        }

        .menu li a:hover, .menu-right li a:hover {
            opacity: 0.9;
        }
        .menu li:hover ul {
            display: block;
        }

        .menu li ul {
            list-style: none;
            margin:0;
            padding:0;
            float: none;
            background-color: var(--light-grey);
            display: none;
            position: absolute;
            left: 0;
        }

            .menu li ul li {
                float: none;
            }

#admin-page-content {
    min-height: calc(100vh - 120px);
}

    #admin-page-content .page-content {
        margin: 20px 0;
    }
#admin-footer{
    height: 60px;
    width: 100%;
    background-color: var(--grey);
}

#admin-footer .footer-content {
    padding-top: 10px;
}

    .footer-content p {
        margin: 0;
        height: 20px;
        line-height: 20px;
        margin: 0;
        font-weight: 300;
        font-size: 14px;
    }

.clear::after {
    content: " ";
    clear: both;
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}